@import "tailwindcss";

div::-webkit-scrollbar {
    width: 6px;
}

div::-webkit-scrollbar-track {
    background: transparent;
}

div::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}